<div id="invoices">
  <h1>Invoices</h1>

  <div class="description-header">
    <span>
      <ng-pluralize count="quantity" when="{
        '0': 'There are no invoices yet, go ahead and add the first one.',
        '1': 'There are 1 invoice',
        'other': 'There are {{quantity}} invoices.'
      }">
      </ng-pluralize>
    </span>

    <a class="button" href="javascript:void(0)" ng-click="goToNewInvoice()">Add invoice</a>
  </p>

  <ul class="list-group invoices">
    <li class="list-group-item invoice header" ng-if="invoices.length">
      <span class="customer"><b>Customer</b></span>
      <span class="total"><b>Total</b></span>
      <div class="clear"></div>
    </li>
    <li class="list-group-item invoice" ng-repeat="invoice in invoices">
      <span class="customer">
        <a href="javascript:void(0)" ng-click="goToInvoice(invoice.id)">
          {{invoice.customer.name}}
        </a>
      </span>
      <span class="total">{{invoice.total}}</span>
      <div class="clear"></div>
    </li>
  </ul>
</div>

